body {
    margin: 60px auto;
    width: 80%;
    background-color: rgb(255, 254, 219);
}
/*nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}*/
p {
    font-size: 20px;
    line-height: 30px;
    color: rgb(49, 49, 49);
    
    /*font-size: 1.5em;
    line-height: 1.4em;*/
    
    font-family: 'Open Sans', sans-serif;
}

#foot {
    font-size: 15px;
    line-height: 20px;
    color: rgb(49, 49, 49);
    
    /*font-size: 1.5em;
    line-height: 1.4em;*/
    
    font-family: 'Open Sans', sans-serif;
}

footer {
    border-top:1px solid rgb(207, 207, 207);
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* -----------------------------------------------------------------------------------------*/

#about {
    text-align: left;
}

#projects {
    text-align: left;
    padding-top: 20px;
}

#pics1 {
    text-align: center;
}

#pics2 {
    text-align: center;
    padding-bottom: 20px;
}

#resume {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title {
    font-size: 40px;
    font-family: 'Kaisei Decol', serif;
}

#site-title {
    font-size: 40px;
    line-height: 20px;
    font-family: 'Kaisei Decol', serif;
    text-align: center;
}

#accpic {
    border-radius: 10px;
}

@media only screen and (min-width: 768px) {
    #pic {
        display: inline-block;
        margin-left: 20px;
        margin-top: 10px;
    }
    
    #about-text {
        display: inline-block;
        width: 60%;
        vertical-align: 100px;
        color: rgb(49, 49, 49);
        
        font-size: 20px;
        line-height: 31px;
    }
}



@media only screen and (max-width: 767px) {
    #about-text {
        width: 100%;
        color: rgb(49, 49, 49);
    
        font-size: 21px;
        line-height: 29px;
    }
  }

#socials-1, #socials-2, #projects-1, #projects-2 {
    display: inline-block;
}

strong {
    color: rgb(122, 142, 255);
}

a:link {
    color: rgb(122, 142, 255);
    text-decoration: underline;
}

a:visited {
    color: rgb(122, 142, 255);
    text-decoration: underline;
}

a:hover {
    color: rgb(71, 98, 255);
    text-decoration: underline;
}

a:active {
    color: rgb(52, 82, 255);
    text-decoration: underline;
}