body {
    margin: 60px auto;
    width: 80%;
}
/*nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}*/
p {
    font-size: 25px;
    line-height: 32px;
    color: #333;
    
    /*font-size: 1.5em;
    line-height: 1.4em;*/
    
}
footer {
    /*border-top: 1px solid #d5d5d5;*/
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* -----------------------------------------------------------------------------------------*/

#about {
    text-align: center;
}

#projects {
    text-align: center;
    padding-top: 20px;
}

#resume {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title {
    font-size: 40px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

#site-title {
    font-size: 40px;
    line-height: 10px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
}

@media only screen and (min-width: 768px) {
    #pic {
        display: inline-block;
        margin-left: 20px;
        margin-top: 10px;
    }
    
    #about-text {
        display: inline-block;
        width: 60%;
        vertical-align: 100px;
        color: #333;
        
        font-size: 25px;
        line-height: 40px;
    }
}



@media only screen and (max-width: 767px) {
    #about-text {
        width: 100%;
        color: #333;
    
        font-size: 30px;
        line-height: 40px;
    }
  }

#socials-1, #socials-2, #projects-1, #projects-2 {
    display: inline-block;
}

